 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 4em;
    font-size: 3em;
    font-weight: 700;
}
.paragraph{
    padding-top: 1em;
    font-size: 20px;
    color: #837f7fec;
}
.para2{
    padding-top: 16px;
    color: #aaa;
}
.main-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-content:space-evenly;
    gap: 14px;
    width: 100%;
    padding-top: 4em;  
}
.container{
    width: 100%;
    color: rgb(33, 34, 34);
    padding-bottom: 3em;
    align-items: center;   
}
.para1{
    font-size: 20px;
}
h2{
    font-size: 12px;
    color: rgb(233, 38, 158);
    padding-top: 8px;
}





  

.debra{
    width: 100%;
    transform: translateX(40%);
    padding-top: 10%;
       
}
.img{
    display: flex;
    transform: translateX(10em);
    margin-top: 13em;
    width: 60%;

}
hr{
    color: rgb(239, 10, 10);
    width: 7em;
    transform: translateX(70%);
    color: rgb(211, 119, 119);
    border-width: 0;
    background-color: rgb(241, 100, 145);
    height: 1.5px;
    margin-top: 2em;
}
.work{
    font-size: 2em;
    font-family: sans-serif;
    transform: translateX(2em);

}
.lorem{
    transform: translateX(-7em);
    color: rgba(0, 0, 0, 0.697);
    font-size: 1.3em;
    font-family: sans-serif;
    padding-top: .8em;
}
 img:hover{
    
    opacity: .8;
    
    transform:scale(0.9);
    }
    .kinsella{ 
        display: flex;
        flex-direction: column;
    }
    .title{
        font-size: 30px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        padding-left: 50%;
        padding-bottom: 10px;
    }
    .s2{
        color:#aaa;
        padding-left :60px;
        font-size: 20px;
        font-family:Verdana, Geneva, Tahoma, sans-serif ;
    }
    .brand_raw1{
        display: flex;
        justify-content:space-around;
        
    }
    .brand_raw2{
        display:flex;
        justify-content: space-around;
        
        
    }
    .hr{
        color: rgb(239, 10, 10);
    
    color: rgb(211, 119, 119);
    border-width: 0;
    background-color: rgb(241, 100, 145);
    height: 1.5px;
    margin-top: 2em;
    margin-left:50%;
    
    }
    .image{
        align-items: center;
        flex-basis:28%;
        
    }

    .footer{
        background-color: black;
        width: 100%;
        height: 200px;
    }
    